<div class="panel panel-default">
  <div class="panel-heading">Details of Booinks assigned to <%=@cleaner.first_name + " " + @cleaner.last_name %></div>
  <div class="panel-body">
    <table border="2" class="table table-hover table-striped">
      <tr>
        <th>Date</th>
        <th>Customer name</th>
        <th>City</th>
      </tr>
      <%@cleaner_booking.each do |booking| %>
        <tr>
          <td>
            <%=booking.datetime %>
          </td>
          <td>
            <%=booking.customer.first_name + " " + booking.customer.last_name%>
          </td>
          <td>
            <%=booking.city.city_name%>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
