<div class="panel panel-default">
  <div class="panel-heading">Derails of bookings by <%= @customer.first_name + " " + @customer.last_name %></div>
   <div class="panel-body">
     <table border="2" class="table table-hover table-striped">
       <tr>
         <th>Date</th>
         <th>Cleaner name</th>
         <th>City</th>
       </tr>
       <%@customer_booking.each do |booking| %>
        <tr>
          <td>
            <%=booking.datetime %>
          </td>
          <td>
            <%=booking.cleaner.first_name + " " + booking.cleaner.last_name%>
          </td>
          <td>
            <%=booking.city.city_name%>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
